.env/
*/.env/
*/.env/*
django/staticfiles/
django/venv/
*/django/staticfiles/
*/*django/staticfiles/


*/node_modules
*/*/node_modules
*/*/*/node_modules
*/node_module
*/*/node_module
*/*/*/node_module